.logo img{
    width: 50px;
}
.nav-link a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-weight: bolder;
}
.nav-link a:hover{
    color: tomato
}
.title a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-weight: bolder;
}
.profile{
    width: 50px;
    height: 50px;
}
.icon{
    font-size: 40px;
    margin-right: 10px;
    color: tomato;
    margin-top: -15px;
    border-radius: 50%;
}
.name{
    margin-top: 15px;
    color: white;
    font-weight: bolder;
}